<h1>Searching for <%= @search_term %></h1>

<table border="1">
	<tr>
		<th>Image</th>
		<th>Name</th>
		<th>Description</th>
	</tr>

	<% @books.each do |book| %>
		<tr class= <%= cycle('even','odd') %>>
			<td><%= image_tag(book["volumeInfo"]["imageLinks"]["smallThumbnail"])%></td>
			<td><%= book["volumeInfo"]["title"] %></td>
			<td><%= book["volumeInfo"]["description"] %> </td>
		</tr>
	<% end %>
</table>

